.HomeMainWrap {
    display: flex;
    justify-content: space-between;
    /* width: 100%; */
    padding: 50px 4% 0px;
    height: 550px;

    background: linear-gradient(to top, #e8e8e8, #f8f8f8);

    /* background-image: url("../../../images/HomeMainBackDemo.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; */

}

.HomeMainCont {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 20px 8px;
}

.HomeMainText {
    color: #314ca3;
    font-weight: 500;
    font-size: 24px;
    line-height: 30px;
}

.HomeMainScheduleCont {
    display: flex;
    flex-direction: column;
}

.HomeMainScheduleSubText {
    font-size: 16px;
    color: black;
}

.HomeMainScheduleButtonCont {
    display: flex;
    flex-direction: column;
    margin-top: 12px;
}

.HomeMainScheduleButton {
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 16px;
    background-color: #314ca3;
    color: white;
}

.HomeMainImgCont {
    width: 60%;
    position: relative;

    /* overflow: hidden; */
}

.DonutImgCont {
    position: absolute;
    left: 50px;
    z-index: 5;
}

.DonutImg {
    width: 150px;
}

.BlurImgCont {
    position: absolute;
    left: 120px;
}

.BlurImg {
    width: 200px;
}

.BarGraphCont {
    position: absolute;
    top: 180px;
    left: -100px;
}

.BarGraphImg {
    width: 200px;
}

.StandCont {
    position: absolute;
    bottom: 0px;
    left: 300px;
    left: 50%;
}

.StandImg {
    width: 400px;
}

.PlatformCont {
    position: absolute;
    bottom: 0px;
    left: 80px;
}

.PlatformImg {
    width: 250px;
}

.PhoneCont {
    position: absolute;
    bottom: 55px;
    left: 100px;
    z-index: 5;
}

.PhoneImg {
    width: 200px;
}

.LapCont {
    position: absolute;
    bottom: 100px;
    left: 350px;
    z-index: 5;
}

.LapImg {
    width: 350px;
}

.HomeMainMobImgCont {
    display: none;
}



/* Hide the background image on devices below 960px */

@media (max-width:1020px) {
    .StandImg {
        width: 200px;
    }

    .PlatformImg {
        width: 150px;
    }
}

@media (max-width: 860px) {
    .HomeMainImgCont {
        display: none;
    }

    .HomeMainWrap {
        flex-direction: column;
    }

    .HomeMainCont {
        width: 100%;
    }

    .HomeMainMobImgCont {
        display: block;
        position: relative;
    }

    .StandMobCont {
        position: absolute;
        bottom: 0px;
        left: 42%;
    }

    .StandMobImg {
        width: 300px;
    }

    .PlatFormMobCont {
        position: absolute;
        bottom: 0px;
        left: 20%;
    }

    .PlatFormImgCont {
        width: 200px;
    }


    .PhoneMobCont {
        position: absolute;
        bottom: 55px;
        left: 20%;
        z-index: 5;

        /* opacity: 0; */
        transform: scale(0.9);
        transition: opacity 1s ease-in-out, transform 1s ease-in-out;
    }

    .PhoneMobImg {
        width: 200px;
    }

    .LapMobCont {
        position: absolute;
        bottom: 55px;
        left: 50%;
        z-index: 5;

        /* opacity: 0; */
        transform: scale(0.9);
        transition: opacity 1s ease-in-out, transform 1s ease-in-out;
    }

    .DonutMobImgCont {
        position: absolute;
        bottom: 100px;
        left: 20%;
        z-index: 5;
    }

    .BarGrapMobhCont {
        position: absolute;
        bottom: 100px;
        left: 50%;
        z-index: 5;
    }


    .fade-in {
        opacity: 1 !important;
        transform: scale(1) !important;

        transition: opacity 1s ease-in-out, transform 1s ease-in-out;
    }

    .LapMobImg {
        width: 300px;
    }

}

@media (max-width:640px) {

    .StandMobCont {
        position: absolute;
        bottom: 0px;
        left: 36%;
    }

    .StandMobImg {
        width: 280px;
    }

    .PlatFormMobCont {
        position: absolute;
        bottom: 0px;
        left: 10%;
    }

    .PlatFormImgCont {
        width: 180px;
    }


    .PhoneMobCont {
        position: absolute;
        bottom: 55px;
        left: 10%;
        z-index: 5;

        /* opacity: 0; */
        transform: scale(0.9);
        transition: opacity 1s ease-in-out, transform 1s ease-in-out;
    }

    .PhoneMobImg {
        width: 160px;
    }

    .LapMobCont {
        position: absolute;
        bottom: 55px;
        left: 40%;
        z-index: 5;

        /* opacity: 0; */
        transform: scale(0.9);
        transition: opacity 1s ease-in-out, transform 1s ease-in-out;
    }

    .LapMobImg {
        width: 250px;
    }

    .DonutMobImgCont {
        position: absolute;
        bottom: 100px;
        left: 10%;
        z-index: 5;
    }

    .DonutMobImg {
        width: 180px;
    }

    .BarGrapMobhCont {
        position: absolute;
        bottom: 100px;
        left: 44%;
        z-index: 5;
    }

    .BarGrapMobhImg {
        width: 250px;
    }

}

@media (max-width:550px) {

    .StandMobCont {
        position: absolute;
        bottom: 0px;
        left: 36%;
    }

    .StandMobImg {
        width: 280px;
    }

    .PlatFormMobCont {
        position: absolute;
        bottom: 0px;
        left: 10%;
    }

    .PlatFormImgCont {
        width: 180px;
    }


    .PhoneMobCont {
        position: absolute;
        bottom: 55px;
        left: 10%;
        z-index: 5;

        /* opacity: 0; */
        transform: scale(0.9);
        transition: opacity 1s ease-in-out, transform 1s ease-in-out;
    }

    .PhoneMobImg {
        width: 160px;
    }

    .LapMobCont {
        position: absolute;
        bottom: 55px;
        left: 44%;
        z-index: 5;

        /* opacity: 0; */
        transform: scale(0.9);
        transition: opacity 1s ease-in-out, transform 1s ease-in-out;
    }

    .LapMobImg {
        width: 250px;
    }

    .DonutMobImgCont {
        position: absolute;
        bottom: 100px;
        left: 10%;
        z-index: 5;
    }

    .DonutMobImg {
        width: 140px;
    }

    .BarGrapMobhCont {
        position: absolute;
        bottom: 100px;
        left: 44%;
        z-index: 5;
    }

    .BarGrapMobhImg {
        width: 200px;
    }

}

@media (max-width:410px) {

    .StandMobCont {
        position: absolute;
        bottom: 0px;
        left: 30%;
    }

    .StandMobImg {
        width: 280px;
    }

    .PlatFormMobCont {
        position: absolute;
        bottom: 0px;
        left: 5%;
    }

    .PlatFormImgCont {
        width: 180px;
    }


    .PhoneMobCont {
        position: absolute;
        bottom: 55px;
        left: 10%;
        z-index: 5;

        /* opacity: 0; */
        transform: scale(0.9);
        transition: opacity 1s ease-in-out, transform 1s ease-in-out;
    }

    .PhoneMobImg {
        width: 120px;
    }

    .LapMobCont {
        position: absolute;
        bottom: 55px;
        left: 50%;
        z-index: 5;

        /* opacity: 0; */
        transform: scale(0.9);
        transition: opacity 1s ease-in-out, transform 1s ease-in-out;
    }

    .LapMobImg {
        width: 220px;
    }

    .DonutMobImgCont {
        position: absolute;
        bottom: 100px;
        left: 10%;
        z-index: 5;
    }

    .DonutMobImg {
        width: 120px;
    }

    .BarGrapMobhCont {
        position: absolute;
        bottom: 100px;
        left: 50%;
        z-index: 5;
    }

    .BarGrapMobhImg {
        width: 160px;
    }

}